@import "tailwindcss";

:root {
  --bg: #FAFAFA;
  --surface: #FFFFFF;
  --text: #111111;
  --muted: #6B7280;
  --border: rgba(17,17,17,.08);
  --shadow: 0 10px 25px rgba(17,17,17,.06);
}

html[data-theme="dark"] {
  --bg: #0F1115;          /* fundo geral */
  --surface: #181B21;    /* cards */
  --text: #EDEDED;
  --muted: #9CA3AF;
  --border: rgba(255,255,255,.08);
  --shadow: 0 10px 30px rgba(0,0,0,.6);
}



html, body {
  background: var(--bg);
  color: var(--text);
}

* {
  -webkit-tap-highlight-color: transparent;
}
